.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.modal {
  position: fixed;
  z-index: 1000; /* Ensure modal is above other content */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.modal-content {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: auto;
  min-width: 300px;
  text-align: center;
}

.button-container {
  margin-top: 20px;
}

.modal-title {
  text-align: center;
  font-size: 30px;
}
.modal-button {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 15px;
  background-color: #bc96fb;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
}

.modal-button:hover {
  background-color: #a777f6;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

/* Add Animation */
@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.task-modal {
  margin-top: 20px;
  padding: 10px;
  background-color: #f2f2f2; /* Light grey background */
  border-left: 5px solid #2196f3; /* Blue border for distinction */
}

.not-current-month .date-number {
  color: #cccccc;
  /* Gray text color */
}

.task {
  width: 50%;
  height: 100%;
}

.date-number {
  position: absolute;
  bottom: 2px;
  right: 2px;
  font-size: smaller;
}

.calendar-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.navigation h2 {
  margin: 0;
}

.navigation button {
  padding: 5px 10px;
  cursor: pointer;
  background-color: lightseagreen;
  /* #007bff; */
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.navigation button:hover {
  background-color: teal;
  /* #0056b3; */
}

.weekdays {
  display: flex;
  background-color: lightseagreen;
  /* #007bff; */
  color: white;
}

.weekday,
.date {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.dates-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}

.date {
  position: relative;
  background-color: #fdfdfd;
  /* Default background */
  display: flex;
  align-items: center;
  justify-content: center;
}

.date:not([style]) {
  background-color: #fdfdfd;
  /* Fallback for dates without a task */
}

.date:hover {
  background-color: #f0f0f0;
}

.date.past {
  color: #999;
}

.date.today {
  border: 2px solid #ff4500;
  font-weight: bold;
}
